{
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 160,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "css",
  "quoteProps": "as-needed"
}