.load-btn {
  padding: 12px 24px !important;
  border-radius: 990px !important;
  overflow: hidden !important;
  border: 1px solid var(--nav-active-detective) !important;
  color: var(--nav-active-detective) !important;
  margin-top: 24px !important;
}
/*https://vnno-vn-5-tf-mp3-320s1-m-zmp3.zmdcdn.me/0d1b940f964f7f11265e/9047443268927609608?authen=exp=1667541759~acl=/0d1b940f964f7f11265e/*~hmac=37db352810dc97cb0022b4ce5c673b8f*/
